@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* ---------------------------
    common styles 
 -----------------------------*/
 body{
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }
 .container{
     width: 1200px;
     margin: 0 auto;
     padding: 0 30px;
 }

 /* ---------------------------
     header nav styles 
 -----------------------------*/
 header{
     height: 100vh;
 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;

 }
 .header-title h3{
     font-size: 24px;
     color: #3A3A3A;
 }
 .navigation{
     display: flex;
     list-style: none;
 }
 .navigation li{
      margin: 0 20px;
      
 }
 .navigation li a{
      text-decoration: none;
      padding: 10px;
      color: #3A3A3A;
      font-size: 16px;

 }
  /* ---------------------------
     banner styles 
 -----------------------------*/
 .banner{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50px;
     justify-content: space-between;
     align-items: center;
      
 }
 .banner-left h1{
     color: #3A3A3A;
     font-size: 52px;
     margin: 0;
     padding: 0;
 }
 .banner-left p{
     color: #3A3A3A;
     font-size: 16px;
     line-height: 1.5;
     margin-top: 20px;
     margin-bottom: 40px;
     

 }
 .primary-button{
    font-size: 16px;
    color: #fff;
    background-color: #E02C6D;
    text-decoration: none;
    border-radius: 41px;
    Padding: 10px 24px;
 }
 .primary-button .icon{
    margin-left: 5px;
}
.banner-right{
    margin-top: 40px;
     
}
.banner-right img{
    width: 80%;
    transition: transform 0.8s ease-in-out;
     
}
.banner-right img:hover{
     transform: scale(0.8);
     
}

  /* ---------------------------
     company-logos styles 
 -----------------------------*/
 .logos{
    margin: 50px 0;
 }
 .company-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    align-items: center;
   padding: 10px 20px;
 }
 
.logo img{
     width: 50%;
}
hr{
    color: rgba(116, 116, 116, 0.1);
    border: 1px solid;
}

