@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* ---------------------------
    common styles 
 -----------------------------*/
 body{
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }
 .container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 30px;
 }

 .section-title h2{
    Font-size: 28px;
    color: #3A3A3A;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
 }
 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .orange{
     color: #FB8200;
 }
 /* ---------------------------
     header nav styles 
 -----------------------------*/
 header{
     height: 80%;
 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;

 }
 .header-title h3{
     font-size: 24px;
     color: #3A3A3A;
 }
 .navigation{
     display: flex;
     list-style: none;
 }
 .navigation li{
      margin: 0 20px;
      
 }
 .navigation li a{
      text-decoration: none;
      padding: 10px;
      color: #3A3A3A;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s ease-in-out;
 }
 .navigation li a:hover{
      color: #FB8200;
 }

 /* --------------------------------
   nav-toggler-icon styles
----------------------------------- */
#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    color: #3A3A3A;
    font-size: 30px;
}

  /* ---------------------------
     banner styles 
 -----------------------------*/
 .banner{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50px;
     height: calc(100vh - 80%);
     align-items: center;
      
 }
 .banner-left h1{
     color: #3A3A3A;
     font-size: 45px;
     margin: 0;
 }
 .banner-left p{
     color: #3A3A3A;
     font-size: 16px;
     line-height: 1.5;
     margin-top: 20px;
     margin-bottom: 40px;
     

 }
 .primary-button{
    font-size: 16px;
    color: #fff;
    background-color: #E02C6D;
    text-decoration: none;
    border-radius: 41px;
    Padding: 10px 24px;
 }
 .primary-button .icon{
    margin-left: 5px;
}
.banner-right{
    margin-top: 40px;
}
.banner-right img{
    width: 100%;
    transition: transform 0.8s ease-in-out;
     
}
.banner-right img:hover{
     transform: scale(0.8);
     
}
  /* ---------------------------
     popular-collection styles 
 -----------------------------*/
 .popular-collection{
    margin-bottom: 50px;
}
 .popular-products{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-between;
     gap: 30px;
     margin-bottom: 50px;
    
 }
.product{
    width: 300px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product-details{
     padding: 15px;
}
.product-details .photo{
    width: 100%;   
}
.product-details .photo img{
    width: 270px;
    height: 256px;   
    object-fit: cover;
    border-radius: 5px;
}
.product-details h3{
    font-size: 28px;
    color: #18191F;
    margin: 16px 0;

}
.product-details .price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 6px 0;
    
}
.product-rating{
    margin: 0;
}
.product-rating .filled{
    color: #FB8200;
}
.product-rating .half-filled{
    color: #FB8200;
}
.product-rating span{
    color: #5E6366;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}
.product-details p{
    font-size: 14px;
    color: #787885;
    font-weight: 700;
    line-height: 1.5;
}
.link-button{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    float: right;
}
.link-button .icon{
    margin-left: 5px;
}
/* ---------------------------
     people-says styles 
 -----------------------------*/
.people-says{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.people-photo img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    border: 5px solid #FB8200;
}
.people-says h3{
     font-size: 28px;
     color: #3A3A3A;
     margin: 2px 0;
     font-weight: 600;
}
.people-says .designation{
     font-size: 18px;
     color: #787885;
     margin: 2px 0;
}
.people-says p{
     font-size: 16px;
     color: #787885;
     text-align: center;
     padding: 0 70px;
     line-height: 1.5;
     margin-top: 30px;

}
.bullet{
    margin-top: -10px;
}
.bullet span{
    font-size: 50px;
    padding: 0 8px;
}
.bullet span:hover{
     color: #FB8200;
     cursor: pointer;
}
 /* ---------------------------
     footer styles 
 -----------------------------*/
footer{
    background-color: #0A0826;
    margin-top: 80px;
}

 .footer-info{
     padding: 40px 0;
     text-align: center;
     color: #fff;
 }
 footer h3{
     font-size: 24px;
     font-weight: 600;
     margin: 8px 0;
 }
 footer small{
     font-size: 14px;
     font-weight: 700;
 }
.social-icon .icons{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    justify-content: center;
}
.social-icon .icons li{
    margin: 0 16px;
}
.social-icon .icons li a{
    text-decoration: none;
}
.social-icon .icons .icon{
    color: #fff;
    background-color: #22213C;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
    padding: 8px;
}


 /* ---------------------------
     media query 
 -----------------------------*/

 @media (max-width:992px) {

    nav{
        flex-direction: row-reverse; 
    }

    .nav-toggler-icon{
        display: block;
    }

    .navigation{
        position: absolute;
        top: 50px;
        left: 0;
        width: 30%;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        padding: 20px 0;
        transform: translateX(-600px);
        transition: .2s ease-in-out;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    .navigation li{
        margin: 10px 0;
    }
    .navigation li a{
        color: #222;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateX(0px);
    }
    .banner-left h1{
        font-size: 35px;
    }
    .popular-products{
        grid-template-columns: repeat(2, 1fr);
    }

}

 @media (max-width:800px) {

    .header-title{
        text-align: center;
    }

    nav{
        display: block;
        
    }
    .nav-toggler-icon{
        display: block;
        margin-top: -64px;
    }
    .banner{
        grid-template-columns: 1fr;  
        text-align: center;
    }
    .banner-left h1{
        font-size: 28px;
    }
    .banner-left{
        order: 2;
    }
    .banner-right img{
        width: 70%;
    }
    .popular-products{
        grid-template-columns: 1fr;
         
    }

}